<div class="jumbotron">
  <h2>Hello, World!</h2>
  <p>Thi sis a template for a simple marketing or informational website. It includes a large callout called the hero unit
  and three supporting pieces of content. Use it as a starting point to create something more unique</p>

  <p><a class="btn btn-primary btn-large" href="#">Learn more</a></p>
</div>