<%= form_for @post, class: "form-horizontal" do |f| %>
  <% content_for :error_messages do %>
    <% @post.errors.full_messages.each do |error| %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%#= "#{error.attribute} #{error.message}" %>
        <%= "#{error}" %>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rationale, class: "col-sm-2 control-label" %>
    <%= f.text_area :rationale, class: "form-control" %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>