<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.user.full_name %>
  </td>
  <td>
    <%= truncate(post.rationale) %>
  </td>
  <td>
    <%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
  </td>

  <td>
    <%= link_to 'Delete', post_path(post), method: :delete, id: "delete_#{post.id}", data: { confirm: 'Are you sure' } %>
  </td>
</tr>